doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title 微客工作室招新回复： #{name}
    body
      block content
        p #{name}同学，您的申请我们已经收到，请耐心等待面试通知，谢谢关注微客！
        p 以下是您提交的信息
        h3 姓名 #{name}
        p 学号 #{id}
        p 岗位 #{position}
        p 电话 #{phone}
        p 邮箱 #{email}
        p #{description}
        h3
        p 如果有疑问，请给我发邮件： xhinliang@gmail.com
