doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title 微客工作室招新： #{name}
    body
      block content
        h3 姓名 #{name}
        p 学号 #{id}
        p 岗位 #{position}
        p 电话 #{phone}
        p 邮箱 #{email}
        p #{description}
